body {
  background-color: #32bdf9;
}

.App {
  text-align: center;
  color: #ffffff;
}

.title-container {
  margin: 40px 0px;
}

.title {
  border-style: solid;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 3em;
  font-family: 'Archivo Black', sans-serif;
  font-weight: bolder;
}

.content-container {
  width: 280px;
  margin: auto;
}

.instruction-text{
  margin-top: 30px;
  font-size: 18px;
  font-family: ProximaNova-Regular;
}

.input-box {
  border-radius: 5px;
  width: 100%;
  height: 35px;
  color: black;
  margin-bottom: 20px;
}

.radio {
  margin-bottom: 15px;
  text-align: left;
  font-family: ProximaNova-Regular;
  text-transform: capitalize;
}

.radio-title {
  display: inline-block;
  width: 60px;
  margin-right: 40px;
  font-size: 16px;
}

.button {
  display: inline-block;
  margin-right: 10px;
}

.option { 
  text-align: left;
}

.option-menu {
  display: inline-block;
  width: 140px;
  vertical-align: middle;
}

.option-title {
  display:inline-block;
  margin-right:40px;
  width: 60px;
  font-size: 16px;
  font-family: ProximaNova-Regular;
  text-transform: capitalize;
}
.conjugate-button {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.output-box {
  border-radius: 5px;
  width: 100%;
  height: 70px;
  color: black;
  margin-top: 20px;
} 



