.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 20px auto;
  width: 60%;
}

header h2 {
  text-align: center;
  margin: 30px auto;
}

pre {
  background: #f7f7f7;
  padding: 10px 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

pre code {
  line-height: 20px;
}

.result {
  padding: 8px 0;
}

  
