body {
  background-color: #32bdf9;
}

.App {
  text-align: center;
  color: #ffffff;
}

.title-container {
  margin: 40px 0px;
}

.title {
  border-style: solid;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 3em;
  font-family: 'Archivo Black', sans-serif;
  font-weight: bolder;
}

.content-container {
  width: 600px;
  margin: auto;
}

.instruction-text{
  margin-top: 30px;
  font-size: 18px;
  font-family: ProximaNova-Regular;
}

.input-box {
  width: 80%;
  height: 100%;
  color: black;
  border: transparent;
  left: 0px;
  position: absolute;
  padding:10px;
}

.radio-group {
  margin-bottom: 15px;
  text-align: left;
  font-family: ProximaNova-Regular;
  text-transform: capitalize;
}

.radio-title {
  display: inline-block;
  width: 60px;
  margin-right: 40px;
  font-size: 16px;
}

.button {
  display: inline-block;
  margin-right: 10px;
}

.option { 
  text-align: left;
  font-size: 15px;
}

.option-menu {
  display: inline-block;
  width: 120px;
  vertical-align: middle;
}

.option-title {
  display:inline-block;
  margin-right:40px;
  width: 60px;
  font-size: 12px;
  font-family: ProximaNova-Regular;
  text-transform: capitalize;
  margin-top: 10px;
}
.output-box {
  width: 100%;
  height: 70px;
  color: black;
  margin-top: 20px;
  border: transparent;
} 
.wrapper {
  display:inline-block;
  color:black;
  height: 50px;
  width: 600px;
  background-color: white;
  position: relative;

}
.conjugate-button {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #32bdf9;
  color: white;
  padding: 1px 1px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 3px #999;
  cursor: pointer;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
  font-style:italic;
}

.container{
  width:560px;
  margin-bottom:40px;
}
.languages {
  background-color: white;
  color: #32bdf9;
  height: 40px;
  width: 120px;
  border: solid;
  border-width: 0px;
  font-size: larger;
  font-weight: bold;
  z-index: -1px;
  margin: 2px;

}

.selectedlanguage {
  background-color: white;
  color: #32bdf9;
  height: 50px;
  width: 130px;
  border: 0px;
  font-size: larger;
  font-weight: bold;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,0.19),0 17px 60px 0 rgba(0,0,0,0.19);
  margin: 2px
}

.optionSpan {

}
